@import "variable.less";

body,html{
  line-height:1;
  font-family:'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select:none;
  -webkit-tap-highlight-color:transparent;
  background:@color-background;
  color:@color-text;
}
//全局字体1:1还原;设置字体系列;不允许用户选择文本;用户点击后出现透明背景;背景颜色为#222;color为#fff;
  